workflows/whatsapp-agent/WF1-whatsapp-webhook.json
{
  "name": "WF1 - WhatsApp Webhook",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "whatsapp",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Webhook GET",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 160],
      "webhookId": "whatsapp-verify"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000012",
      "name": "Webhook POST",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 440],
      "webhookId": "whatsapp-messages"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.query[\"hub.challenge\"] }}",
        "options": { "responseCode": 200 }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000003",
      "name": "Respond Challenge",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [460, 160]
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nconst body = raw.body !== undefined ? raw.body : raw;\n\n// Ignorar notificaciones que no son mensajes\nif (!body.entry?.[0]?.changes?.[0]?.value?.messages?.[0]) {\n  return [{ json: { skip: true } }];\n}\n\nconst change = body.entry[0].changes[0].value;\nconst message = change.messages[0];\nconst contact = change.contacts?.[0];\n\n// Solo procesar mensajes de texto\nif (message.type !== 'text') {\n  return [{ json: { skip: true, reason: 'non-text message', from: message.from } }];\n}\n\nreturn [{\n  json: {\n    skip: false,\n    wa_phone: message.from,\n    wa_message_id: message.id,\n    customer_name: contact?.profile?.name || 'Cliente',\n    message_text: message.text.body,\n    timestamp: message.timestamp\n  }\n}];"
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000004",
      "name": "Extract Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 440]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "check-skip",
              "leftValue": "={{ $json.skip }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ]
        }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000005",
      "name": "Should Skip?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 440]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"status\":\"ok\"}",
        "options": { "responseCode": 200 }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000006",
      "name": "Respond 200 Skip",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 320]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/customers?on_conflict=wa_phone",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "resolution=merge-duplicates,return=representation" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"wa_phone\": \"{{ $json.wa_phone }}\",\n  \"full_name\": \"{{ $json.customer_name }}\"\n}",
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000007",
      "name": "Upsert Customer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 560]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/conversations?on_conflict=wa_phone",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "resolution=merge-duplicates,return=representation" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"customer_id\": \"{{ $json[0].id }}\",\n  \"wa_phone\": \"{{ $node['Extract Message'].json.wa_phone }}\",\n  \"status\": \"ai_active\",\n  \"last_message_at\": \"{{ new Date().toISOString() }}\"\n}",
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000008",
      "name": "Upsert Conversation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 560]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"conversation_id\": \"{{ $json[0].id }}\",\n  \"wa_message_id\": \"{{ $node['Extract Message'].json.wa_message_id }}\",\n  \"direction\": \"inbound\",\n  \"sender_type\": \"customer\",\n  \"message_type\": \"text\",\n  \"content\": \"{{ $node['Extract Message'].json.message_text }}\"\n}",
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000009",
      "name": "Save Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 560]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"status\":\"ok\"}",
        "options": { "responseCode": 200 }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000010",
      "name": "Respond 200 OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1560, 560]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "tbhGTQg6onwSpEns",
          "cachedResultName": "WF2 - AI Agent"
        },
        "waitForSubWorkflow": false,
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "wa_phone": "={{ $node['Extract Message'].json.wa_phone }}",
            "message_text": "={{ $node['Extract Message'].json.message_text }}",
            "customer_name": "={{ $node['Extract Message'].json.customer_name }}",
            "conversation_id": "={{ $node['Upsert Conversation'].json[0].id }}",
            "customer_id": "={{ $node['Upsert Customer'].json[0].id }}"
          }
        }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000011",
      "name": "Trigger AI Agent",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [1780, 560]
    }
  ],
  "connections": {
    "Webhook GET": {
      "main": [[{ "node": "Respond Challenge", "type": "main", "index": 0 }]]
    },
    "Webhook POST": {
      "main": [[{ "node": "Extract Message", "type": "main", "index": 0 }]]
    },
    "Extract Message": {
      "main": [[{ "node": "Should Skip?", "type": "main", "index": 0 }]]
    },
    "Should Skip?": {
      "main": [
        [{ "node": "Respond 200 Skip", "type": "main", "index": 0 }],
        [{ "node": "Upsert Customer", "type": "main", "index": 0 }]
      ]
    },
    "Upsert Customer": {
      "main": [[{ "node": "Upsert Conversation", "type": "main", "index": 0 }]]
    },
    "Upsert Conversation": {
      "main": [[{ "node": "Save Message", "type": "main", "index": 0 }]]
    },
    "Save Message": {
      "main": [[{ "node": "Respond 200 OK", "type": "main", "index": 0 }]]
    },
    "Respond 200 OK": {
      "main": [[{ "node": "Trigger AI Agent", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "whatsapp-agent" }]
}
